#About {
    min-height: 100vh;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: serif;
}

#Info {
    width: 60%;
}

.UnderLine {
    text-decoration-line: underline;
    text-decoration-color: aqua;
}

#Contents {
    animation: fadeSlideIn 2s ease-in-out forwards;
    display: flex;
    min-height: 50vh;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
    padding: 14px;
}

#Contents h3 {
    padding: 14px;
    color: whitesmoke;
    line-height: 1.4;
    text-shadow: 4px 4px 3px gray;
}

#MyImg {
    padding: 14px;
    margin: 14px;
    height: 160px;
    width: 160px;
    margin-right: 126px;
    border-radius: 3px;
    background: gray;
    background-image: url("../Images/VP.jpeg");
    background-position: 0px -26px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 14px 3px skyblue;
    cursor: pointer;
}

#MyImg:hover {
    scale: 1.1;
    transition: all 0.2004s ease-in-out;
    box-shadow: 0px 0px 14px 3px cyan;
}


@media (max-width:768px) {
    #Contents {
        display: block;
    }

    #Info {
        width: 100%;
    }

    #MyImg {
        padding: 0;
        margin: 14px;
        justify-self: center;
    }
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateZ(20px);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}