* {
    margin: 0;
    scroll-behavior: smooth;
}

#App_Main {
    background: #000;
    color: aliceblue;
}

#Title {
    padding: 65px 65px 0px 65px;
    text-shadow: 0 0 3px #fff, 0 0 3px #0ff;
    text-shadow: 0 0 14px skyblue, 0 0 14px #0ff;
    justify-self: center;
}

#Title:hover{
    scale: 1.1;
}