#Main_Experience_Div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.experience-item {
    background: black;
    padding: 20px;
    margin: 50px 0 0 0;
    border-radius: 14px;
    box-shadow: 0 0 14px 3px gray;
    cursor: pointer;
}

.experience-item:hover {
    scale: 1.0126;
    transition: all 126ms ease-in-out;
    box-shadow: inset 0 0 14px 3px gray, inset 0 0 14px 3px skyblue;
}

.company {
    font-weight: bold;
    color: white;
}

.projectname {
    margin-top: 5px;
    color: white;
}

.duration {
    font-size: 14px;
    color: white;
}

.description {
    margin-top: 10px;
    line-height: 1.5;
    color: white;
}