#Main_Home_Div {
  /* padding-top: 80px; */
  padding: 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  min-height: 100vh;
  overflow-x: hidden;

  background-image: url("../Images/Wallpaper_5.jpg");
  /* animation: slideshow 26s infinite; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

#Home_Content {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

#Home_Content b {
  background: linear-gradient(to right, rgb(255, 230, 1), rgb(0, 255, 85), blue);
  background-clip: text;
  color: transparent;
}

#Role {
  font-family: monospace;
  font-size: 24px;
  word-wrap: break-word;
}

#Role span {
  color: magenta;
  background: linear-gradient(gold, skyblue);
  background-clip: text;
  color: transparent;
}

#Social_Medias {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  padding: 14px;
}



/* Resume Styling */

#Resume {
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 14px;
  border: 2px solid cyan;
  background: skyblue;
}

#Resume:hover {
  background: blue;
  /* transform: rotateZ(360deg); */
  transition: all 1s ease-in-out;
}

#OpenResume {
  display: none;
}

#DownloadResume {
  display: none;
}


#Resume:hover #DownloadResume {
  position: absolute;
  display: block;
  top: 40px;
  right: 40px;
  font-size: 26px;
  /* background: #000; */
  color: aliceblue;
}

#Resume:hover #OpenResume {
  display: block;
  position: absolute;
  font-size: 26px;
  top: 40px;
  left: 40px;
  color: white;
}

.text {
  font-size: 20px;
  background: linear-gradient(gold, yellow);
  background-clip: text;
  color: transparent;
}


.tooltip-container-resume {
  position: relative;
  cursor: pointer;
  margin: 14px;
  font-size: 17px;
  padding: 0.7em 0.7em;
  border-radius: 50px;
  border: 1px solid cyan;
  box-shadow: inset 0 0 26px skyblue;
}

.tooltip-container-resume:hover {
  border: 1px solid purple;
  box-shadow: inset 0 0 10px darkmagenta;
  transition: all 0.6s;
}

.tooltip-container-resume .text {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  transition: all 0.2s;
}

.tooltip-container-resume:hover .text {
  fill: rgb(3, 169, 244);
  transition: all 0.6s;
}

.tooltip2 {
  position: absolute;
  top: 10%;
  right: 100vw;
  /* right: -50px; */
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  fill: black;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    background 0.3s,
    right 1s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container-resume:hover .tooltip2 {
  /* right: 65px; */
  right: 75%;
  opacity: 1;
  visibility: visible;
  background: lightskyblue;
  transform: translate(-50%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container-resume:hover .tooltip2:hover {
  background: #03a9f4;
  fill: white;
}

.tooltip3 {
  position: absolute;
  top: 10%;
  right: -100vw;
  /* right: 40px; */
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #03a9f4;
  fill: #00001a;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    background 0.3s,
    right 1s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container-resume:hover .tooltip3 {
  right: -70px;
  opacity: 1;
  visibility: visible;
  background: lightgreen;
  transform: translate(-50%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container-resume:hover .tooltip3:hover {
  background: #1db954;
  fill: #fff;
}




@keyframes slideshow {
  0% {
    background-image: url("../Images/Wallpaper_1.jpg");
  }

  20% {
    background-image: url("../Images/Wallpaper_2.jpg");
  }

  40% {
    background-image: url("../Images/Wallpaper_3.jpg");
  }

  60% {
    background-image: url("../Images/Wallpaper_4.jpg");
  }

  80% {
    background-image: url("../Images/Wallpaper_5.jpg");
  }

  100% {
    background-image: url("../Images/Wallpaper_1.jpg");
  }
}