/* Projects.jsx */
#Projects {
    min-height: 100vh;
}

#Main_Card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* width: 26vw; */
    width: 450px;
    min-width: 300px;
    margin-top: 14px;
    /* background: red; */
}

#Projects_List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 195px;
    height: 285px;
    width: 75%;
    min-height: 400px;
    margin: 14px;
    background: #313131;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.03);
    transition: all 2s ease-in-out;
}

.card::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 22px;
    background: conic-gradient(#00f,
            #0ff,
            #0f0,
            #ff0,
            #f00,
            #f0f,
            #00f);
    z-index: -1;
    animation: rotateBorder 4s linear infinite;
}

.card::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #313131;
    border-radius: 18px;
    z-index: -1;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
}

.textBox>.text {
    font-weight: bold;
}

#Project_Description {
    height: 40%;
    padding: 14px;
    overflow-y: auto;
    scrollbar-width: none;
}

.card:hover>.textBox {
    opacity: 1;
}

.card:hover>.img {
    height: 65%;
    filter: blur(14px);
    animation: anim 3s infinite;
}

#Main_Card h2 {
    border-radius: 14px;
    padding: 7px;
    font-size: 20px;
    box-shadow: inset 3px 3px 14px 3px skyblue;
}


.img {
    height: 80%;
    width: 80%;
    border-radius: 14px;
    position: absolute;
    transition: 1s ease-in-out;
    background-position: center;
    background-size: cover;
}


#OTA {
    background-image: url("../Images/OTA.jpg");
    box-shadow: 0px 10px 50px cyan, 0px -10px 24px skyblue;
}

#Pyro_Patrol {
    background-image: url("../Images/Project_Img/Pyro_Patrol.jpg");
    box-shadow: 0px 10px 50px orangered, 0px -10px 24px orange;
}

#Brain_Friendly {
    background-image: url("../Images/Project_Img/E-Learning_VR_1.jpg");
    box-shadow: 0px 10px 50px rgb(108, 108, 255), 0px -10px 24px rgb(135, 135, 226);
}

#Text_Based_Game {
    background-image: url("../Images/Project_Img/Text_Game_2.jpg");
    box-shadow: 0px 10px 50px darkslategray, 0px -10px 24px gray;
}

#AI_Voice_Assistant {
    background-image: url("../Images/Project_Img/AI_Assistant_1.jpg");
    box-shadow: 0px 10px 50px rgb(108, 108, 255), 0px -10px 24px rgb(64, 64, 250);
}





@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
