#Projects_List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 16px;
    gap: 14px;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 400px;
    height: auto;
    background: #313131;
    border-radius: 18px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    flex-shrink: 1;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: scale(1.005);
}

/* .card::before {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 22px;
    background: conic-gradient(#00f,
            #0ff,
            #0f0,
            #ff0,
            #f00,
            #f0f,
            #00f);
    z-index: -2;
    animation: rotateBorder 4s linear infinite;
} */

.card::after {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: 18px;
    background: #313131;
    z-index: -1;
}

.card .img {
    width: 100%;
    height: 220px;
    border-radius: 14px;
    background-position: center;
    background-size: cover;
}

#Project_Title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

#Project_Description {
    font-size: 16px;
    /* color: #cfcfcf; */
    color: lightgray;
    margin: 0;
}

.All_Source {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

#Tech_Stack {
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

#Tech_Stack span {
    border-bottom: 2px solid gray;
}

.source {
    margin-top: auto;
    font-weight: 500;
    color: #4da6ff;
    cursor: pointer;
}

.source:hover {
    text-decoration: underline;
}

#ProjectNameDiv {
    display: flex;
    justify-content: center;
}

#ProjectNameDiv .text {
    border-radius: 14px;
    padding: 6px 24px;
    font-size: 20px;
    box-shadow: inset 3px 3px 14px 3px skyblue;
}

.description {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




#OTA {
    background-image: url("../Images/OTA.jpg");
}

/* .card:hover #OTA {
    transition: all 500ms ease-in-out;
    box-shadow: 0 0 14px cyan, 0 0 14px skyblue;
} */

#SIL_Automation {
    background-image: url("../Images/Project_Img/SIL_Automation.png");
}

/* .card:hover #SIL_Automation {
    transition: all 500ms ease-in-out;
    box-shadow: 0 0 14px wheat, 0 0 14px white;
} */

#Task_Management {
    background-image: url("../Images/Project_Img/Task_Management.png");
}

/* .card:hover #Task_Management {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0 14px #1e2227, 0px -0 14px skyblue;
} */

#Student_Management_System {
    background-image: url("../Images/Project_Img/Student_Management_System.png");
}

/* .card:hover #Student_Management_System {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0 14px #1e2227, 0px -0 14px rgb(0, 183, 255);
} */

#Movie_Review {
    background-image: url("../Images/Project_Img/Movie_Review_2.png");
}

/* .card:hover #Movie_Review {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0 14px rgb(108, 108, 255), 0px -0 14px rgb(135, 135, 226);
} */

#Text_Based_Game {
    background-image: url("../Images/Project_Img/Text_Game_2.jpg");
}

/* .card:hover #Text_Based_Game {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0 14px rgb(91, 209, 209), 0px -0 14px rgb(84, 55, 212);
} */

#AI_Chat {
    background-image: url("../Images/Project_Img/AI_Chat.png");
}

/* .card:hover #AI_Chat {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0 14px rgb(91, 209, 209), 0px -0 14px rgb(84, 55, 212);
} */

#AI_Voice_Assistant {
    background-image: url("../Images/Project_Img/AI_Assistant_1.jpg");
}

/* .card:hover #AI_Voice_Assistant {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0 14px rgb(108, 108, 255), 0px -0 14px rgb(64, 64, 250);
} */




@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}